.tab-rtl {
  direction: rtl;
}

.tab-ltr {
  direction: ltr;
}

.rightoleftsh {
  direction: rtl;
}

.center-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.styles_wrapper__3KXDn {
  right: 0;
}

.tab-wrapper {
  margin-top: 30px;
}
